body {
    background-color: black;
}
h1{
    font-family: 'Permanent Marker', cursive;
    color: orange;
}
h3{
    color: darkorange;
}
.rolldice{
    border-bottom: solid;
    border-bottom-color: darkorange;
    border-bottom-width: 7px;
    padding-bottom: -8px;
}
input {
    margin-bottom: 10px;
    color: orange;
    background-color: darkslategray;
    border-style: solid;
    border-color: orange;
    border-width: 4px;
    height: 40px;
}
.btn {
    color: orange;
    background-color: darkslategray;
    margin-bottom: 15px;
    border-color: orange;
    border-width: 4px;
    border-style: solid;
}
.list{
    background-color: rgba(255,255,255,.0);
}
.article{
    background-color: rgba(255,255,255,.0);
}
.list-group{
    background-color: darkgoldenrod;
}
.list-group-item{
    background-color: rgba(255,255,255,.6);
}